# Make sure to install the torch dependencies with conda:
# conda install pytorch=1.11.0 torchdata torchvision -c pytorch -y

accelerate
black
click
diffusers
einops
fancy_einsum
flask
ftfy
gym==0.23.1
ipykernel
ipywidgets
joblib
jupyter
matplotlib
mediapy
notebook
numpy-stl
numpy <2
pandas
plotly
pre-commit
pygame
pytest
requests
scikit-learn
sentence-transformers
sympy
tensorboard
tensorboard
torchtyping
tqdm
transformers
wandb